something/purpose 6.txt
{
  "Comment": "Distributed map that reads CSV file for order data and detects delayed orders",
  "StartAt": "Get records to REMEDIATE Letter",
  "States": {
    "Get records to REMEDIATE Letter": {
      "Type": "Task",
      "Parameters": {
        "TableName": "${DynamoTableName}",
        "FilterExpression": "BatchId = :batchId AND RecordStatus = :status",
        "ExpressionAttributeValues": {
          ":batchId": {"S.$": "$.BatchId"},
          ":status": {"S.$": "$.RecordStatus"}
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:scan",
      "ResultPath": "$.ScanResult",
      "Next": "Process PCLM Remediation"
    },
    "Process PCLM Remediation": {
      "Type": "Map",
      "ItemsPath": "$.ScanResult.Items",
      "Iterator": {
        "StartAt": "Ensure All Fields",
        "States": {
          "Ensure All Fields": {
            "Type": "Pass",
            "Parameters": {
              "Id": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.Id, false), $.Id ?? {}, false)"},
              "PclmType": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.PclmType, false), $.PclmType ?? {}, false)"},
              "BatchId": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.BatchId, false), $.BatchId ?? {}, false)"},
              "RecordStatus": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.RecordStatus, false), $.RecordStatus ?? {}, false)"},
              "AccountNumber": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountNumber, false), $.AccountNumber ?? {}, false)"},
              "MemberNumber": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.MemberNumber, false), $.MemberNumber ?? {}, false)"},
              "CreatedTime": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.CreatedTime, false), $.CreatedTime ?? {}, false)"},
              "ModifiedTime": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.ModifiedTime, false), $.ModifiedTime ?? {}, false)"},
              "AsOfDate": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AsOfDate, false), $.AsOfDate ?? {}, false)"},
              "AccountDetails": {
                "M": {
                  "NewCreditLimit": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.NewCreditLimit, false), $.AccountDetails.M.NewCreditLimit ?? {}, false)"},
                  "OldCreditLimit": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.OldCreditLimit, false), $.AccountDetails.M.OldCreditLimit ?? {}, false)"},
                  "JointAccountIndicator": {"Bool.$": "States.JsonMerge(States.JsonMerge({'Bool': false}, $.AccountDetails.M.JointAccountIndicator, false), $.AccountDetails.M.JointAccountIndicator ?? {}, false)"},
                  "ErrorMessage": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.ErrorMessage, false), $.AccountDetails.M.ErrorMessage ?? {}, false)"},
                  "PendingTransactionAmount": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.PendingTransactionAmount, false), $.AccountDetails.M.PendingTransactionAmount ?? {}, false)"},
                  "IsEligibleForProductCodeUpdate": {"Bool.$": "States.JsonMerge(States.JsonMerge({'Bool': false}, $.AccountDetails.M.IsEligibleForProductCodeUpdate, false), $.AccountDetails.M.IsEligibleForProductCodeUpdate ?? {}, false)"},
                  "ProductCodeUpdateStatus": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.ProductCodeUpdateStatus, false), $.AccountDetails.M.ProductCodeUpdateStatus ?? {}, false)"},
                  "NewProductCode": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.NewProductCode, false), $.AccountDetails.M.NewProductCode ?? {}, false)"},
                  "OldProductCode": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.OldProductCode, false), $.AccountDetails.M.OldProductCode ?? {}, false)"},
                  "IsMemoSuccessful": {"Bool.$": "States.JsonMerge(States.JsonMerge({'Bool': false}, $.AccountDetails.M.IsMemoSuccessful, false), $.AccountDetails.M.IsMemoSuccessful ?? {}, false)"},
                  "IsCreditLimitSuccessful": {"Bool.$": "States.JsonMerge(States.JsonMerge({'Bool': false}, $.AccountDetails.M.IsCreditLimitSuccessful, false), $.AccountDetails.M.IsCreditLimitSuccessful ?? {}, false)"},
                  "OldProductMax": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.OldProductMax, false), $.AccountDetails.M.OldProductMax ?? {}, false)"},
                  "CardType": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.CardType, false), $.AccountDetails.M.CardType ?? {}, false)"},
                  "IsJointAccountPrimaryCardHolder": {"Bool.$": "States.JsonMerge(States.JsonMerge({'Bool': false}, $.AccountDetails.M.IsJointAccountPrimaryCardHolder, false), $.AccountDetails.M.IsJointAccountPrimaryCardHolder ?? {}, false)"},
                  "RewardStrategy": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.RewardStrategy, false), $.AccountDetails.M.RewardStrategy ?? {}, false)"},
                  "OldProductMin": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.OldProductMin, false), $.AccountDetails.M.OldProductMin ?? {}, false)"},
                  "FicoScore": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.FicoScore, false), $.AccountDetails.M.FicoScore ?? {}, false)"},
                  "FicoScoreReasonCode1": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.FicoScoreReasonCode1, false), $.AccountDetails.M.FicoScoreReasonCode1 ?? {}, false)"},
                  "FicoScoreReasonCode2": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.FicoScoreReasonCode2, false), $.AccountDetails.M.FicoScoreReasonCode2 ?? {}, false)"},
                  "FicoScoreReasonCode3": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.FicoScoreReasonCode3, false), $.AccountDetails.M.FicoScoreReasonCode3 ?? {}, false)"},
                  "FicoScoreReasonCode4": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.FicoScoreReasonCode4, false), $.AccountDetails.M.FicoScoreReasonCode4 ?? {}, false)"},
                  "FicoScoreReasonCode5": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.FicoScoreReasonCode5, false), $.AccountDetails.M.FicoScoreReasonCode5 ?? {}, false)"},
                  "BehaviorScoreReasonCode1": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.BehaviorScoreReasonCode1, false), $.AccountDetails.M.BehaviorScoreReasonCode1 ?? {}, false)"},
                  "BehaviorScoreReasonCode2": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.BehaviorScoreReasonCode2, false), $.AccountDetails.M.BehaviorScoreReasonCode2 ?? {}, false)"},
                  "AdverseReasonCode1": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.AdverseReasonCode1, false), $.AccountDetails.M.AdverseReasonCode1 ?? {}, false)"},
                  "AdverseReasonCode2": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.AdverseReasonCode2, false), $.AccountDetails.M.AdverseReasonCode2 ?? {}, false)"},
                  "AdverseReasonCode3": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.AdverseReasonCode3, false), $.AccountDetails.M.AdverseReasonCode3 ?? {}, false)"},
                  "AdverseReasonCode4": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.AdverseReasonCode4, false), $.AccountDetails.M.AdverseReasonCode4 ?? {}, false)"},
                  "JanusScore": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.JanusScore, false), $.AccountDetails.M.JanusScore ?? {}, false)"},
                  "JanusScoreAsOfDate": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.JanusScoreAsOfDate, false), $.AccountDetails.M.JanusScoreAsOfDate ?? {}, false)"},
                  "BureauDataReceivedDate": {"S.$": "States.JsonMerge(States.JsonMerge({'S': ''}, $.AccountDetails.M.BureauDataReceivedDate, false), $.AccountDetails.M.BureauDataReceivedDate ?? {}, false)"}
                }
              }
            },
            "ResultPath": "$",
            "Next": "Transform Input"
          },
          "Transform Input": {
            "Type": "Pass",
            "Parameters": {
              "Id.$": "$.Id.S",
              "PclmType.$": "$.PclmType.S",
              "BatchId.$": "$.BatchId.S",
              "RecordStatus.$": "$.RecordStatus.S",
              "AccountNumber.$": "$.AccountNumber.S",
              "MemberNumber.$": "$.MemberNumber.S",
              "CreatedTime.$": "$.CreatedTime.S",
              "ModifiedTime.$": "$.ModifiedTime.S",
              "DecisionDate.$": "$.AsOfDate.S",
              "AsOfDate.$": "$.AsOfDate.S",
              "AccountDetails": {
                "NewCreditLimit.$": "$.AccountDetails.M.NewCreditLimit.S",
                "OldCreditLimit.$": "$.AccountDetails.M.OldCreditLimit.S",
                "JointAccountIndicator.$": "$.AccountDetails.M.JointAccountIndicator.Bool",
                "ErrorMessage.$": "$.AccountDetails.M.ErrorMessage.S",
                "PendingTransactionAmount.$": "$.AccountDetails.M.PendingTransactionAmount.S",
                "IsEligibleForProductCodeUpdate.$": "$.AccountDetails.M.IsEligibleForProductCodeUpdate.Bool",
                "ProductCodeUpdateStatus.$": "$.AccountDetails.M.ProductCodeUpdateStatus.S",
                "NewProductCode.$": "$.AccountDetails.M.NewProductCode.S",
                "OldProductCode.$": "$.AccountDetails.M.OldProductCode.S",
                "IsMemoSuccessful.$": "$.AccountDetails.M.IsMemoSuccessful.Bool",
                "IsCreditLimitSuccessful.$": "$.AccountDetails.M.IsCreditLimitSuccessful.Bool",
                "OldProductMax.$": "$.AccountDetails.M.OldProductMax.S",
                "CardType.$": "$.AccountDetails.M.CardType.S",
                "IsJointAccountPrimaryCardHolder.$": "$.AccountDetails.M.IsJointAccountPrimaryCardHolder.Bool",
                "RewardStrategy.$": "$.AccountDetails.M.RewardStrategy.S",
                "OldProductMin.$": "$.AccountDetails.M.OldProductMin.S",
                "FicoScore.$": "$.AccountDetails.M.FicoScore.S",
                "FicoScoreReasonCode1.$": "$.AccountDetails.M.FicoScoreReasonCode1.S",
                "FicoScoreReasonCode2.$": "$.AccountDetails.M.FicoScoreReasonCode2.S",
                "FicoScoreReasonCode3.$": "$.AccountDetails.M.FicoScoreReasonCode3.S",
                "FicoScoreReasonCode4.$": "$.AccountDetails.M.FicoScoreReasonCode4.S",
                "FicoScoreReasonCode5.$": "$.AccountDetails.M.FicoScoreReasonCode5.S",
                "BehaviorScoreReasonCode1.$": "$.AccountDetails.M.BehaviorScoreReasonCode1.S",
                "BehaviorScoreReasonCode2.$": "$.AccountDetails.M.BehaviorScoreReasonCode2.S",
                "AdverseReasonCode1.$": "$.AccountDetails.M.AdverseReasonCode1.S",
                "AdverseReasonCode2.$": "$.AccountDetails.M.AdverseReasonCode2.S",
                "AdverseReasonCode3.$": "$.AccountDetails.M.AdverseReasonCode3.S",
                "AdverseReasonCode4.$": "$.AccountDetails.M.AdverseReasonCode4.S",
                "JanusScore.$": "$.AccountDetails.M.JanusScore.S",
                "JanusScoreAsOfDate.$": "$.AccountDetails.M.JanusScoreAsOfDate.S",
                "BureauDataReceivedDate.$": "$.AccountDetails.M.BureauDataReceivedDate.S"
              }
            },
            "ResultPath": "$",
            "Next": "is pcli or pcld"
          },
          "is pcli or pcld": {
            "Type": "Choice",
            "Choices": [
              {
                "Next": "PCLI_Generate_Letter",
                "Variable": "$.PclmType",
                "StringMatches": "PCLI"
              },
              {
                "Next": "PCLD_Generate_Letter",
                "Variable": "$.PclmType",
                "StringMatches": "PCLD"
              }
            ]
          },
          "PCLI_Generate_Letter": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "${PCLI_LetterGenerationLambda}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException",
                  "BankMWSystemError",
                  "HerculesSystemError",
                  "ErdcSystemError"
                ],
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "Comment": "Retry middleware and hercules system error",
                "MaxDelaySeconds": 5,
                "IntervalSeconds": 2
              }
            ],
            "ResultPath": "$.output",
            "End": true
          },
          "PCLD_Generate_Letter": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "${PCLD_LetterGenerationLambda}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException",
                  "BankMWSystemError",
                  "HerculesSystemError",
                  "ErdcSystemError"
                ],
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "Comment": "Retry middleware and hercules system error",
                "MaxDelaySeconds": 5,
                "IntervalSeconds": 2
              }
            ],
            "ResultPath": "$.output",
            "End": true
          }
        }
      },
      "MaxConcurrency": 350,
      "Label": "ProcessPCLMRemediation",
      "ResultPath": "$.output",
      "ToleratedFailurePercentage": 50,
      "End": true
    }
  }
}